.home-body {
  background-image: url(/assets/img/background.jpg);
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 0;
}


* {
    box-sizing: border-box;
  }
  
  .item {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    padding-top: 75px;
    background: #ccc;
    text-align: center;
    color: #FFF;
    font-size: 3em;
  }

  * {
    box-sizing: border-box;
  }
  
  .item {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    padding-top: 75px;
    background: #ccc;
    text-align: center;
    color: #FFF;
    font-size: 3em;
  }
  
  /* Animations */
  
  [data-aos="example-anim1"] {
    transform: skewX(45deg);
    opacity: 0;
    transition-property: transform, opacity;
    &.aos-animate {
      transform: skewX(0);
      opacity: 1;
    }
  }
  
  [data-aos="example-anim2"] {
    background: red;
    transition-property: background;
    &.aos-animate {
      background: green;
    }
  }
  
  [data-aos="example-anim3"] {
    transform: rotate(360deg);
    opacity: 0;
    transition-property: transform, opacity;
    &.aos-animate {
      transform: rotate(0);
      opacity: 1;
    }
  }
